:root {
	--light-theme-color-1: #f1f1f1;
	--light-theme-color-2: #dddddd;
	--light-theme-color-3: #b8b8b8;
	--light-theme-color-4: #8d8d8d;
	--light-theme-color-5: #6c6c6c;
	--light-theme-color-6: #4c4c4c;

	--dark-theme-color-1: #3c4b71;
	--dark-theme-color-2: #3d4864;
	--dark-theme-color-3: #2c3a62;
	--dark-theme-color-4: #1f2747;
	--dark-theme-color-5: #232539;
	--dark-theme-color-6: #060657;
}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('/fonts/Roboto_Condensed/RobotoCondensed-ExtraBold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 0.9rem;
	scrollbar-width: thin;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

*::selection {
	color: var(--light-theme-color-1);
	background-color: orangered;
}

img {
	-webkit-user-drag: none;
}

div.main-content-wrapper,
div.nav-content-wrapper,
div.footer-content-wrapper {
	max-width: 900px;
	margin: auto;
}

body.no-scroll {
	overflow: hidden;
}

div.reduce-index {
	z-index: 2 !important;
}

@media (max-width: 1024px) {
	div.main-content-wrapper,
	div.nav-content-wrapper,
	div.footer-content-wrapper {
		padding-inline: 3rem !important;
	}
}

@media (max-width: 768px) {
	div.main-content-wrapper,
	div.nav-content-wrapper,
	div.footer-content-wrapper {
		padding-inline: 2rem !important;
	}
}

@media (max-width: 576px) {
	div.main-content-wrapper,
	div.nav-content-wrapper,
	div.footer-content-wrapper {
		padding-inline: 1rem !important;
	}
}
